body{
    background-color:#308C50;
}

h1{
    font-size: 3em;
    text-transform: capitalize;
}

p{
    font-size: 1.5em;
}

.blanco{
    color: white;
    font-family: serif;
}

.beis{
    color:#EBD199;
    font-family: sans-serif;
}

.naranja{
    color: #D99C2B;
    font-family: monospace;
    font-size: 2em;
}

.rosa{
    color: #D9305D;
    font-family: cursive;
}